@import '../../../../styles/variables';
@import '../../../../styles/dev-utilities/helpers';

#creation_stepper {
	@extend .fixed-box;
	background: $white;
	height: $stepper-nav-height;

	a {
		@extend .clickable;

		&:hover {
			color: $secondary_color;
		}
	}

	.columns,
	.column {
		padding-bottom: 0;
	}

	.step-bar-container {
		margin: 0;
		width: 100%;
		position: relative;
		top: 4px;
		display: block;
		min-width: 1px;
		height: 4px;
		background: $d-grey !important;
	}

	.step-bar-progress {
		position: relative;
		top: 0;
		left: 0;
		height: 4px;
		display: block;
		min-width: 1px;
		background: $d-blue-700;
	}

	.shortcut {
		padding: 1em;
		margin: 1em;
		display: inline-block;
		text-align: center;
		width: 4em;

		&.is-active {
			background: $font_color;
		}
	}

	.nav-button {
		margin-top: 0;
		line-height: $stepper-nav-height;
		height: $stepper-nav-height;
		display: inline-block;
		padding-left: 1em;
		&app-language-selector {
			padding-top: 1rem;
		}
	}
	.cancel-button {
		line-height: $stepper-nav-height;
		height: $stepper-nav-height;
		padding: 0 1rem;
		color: $secondary_color;

		&:hover {
			color: $font_color;
			outline: black;
			outline-style: solid;
		}
	}
	.cancel-button-reject-bottom {
		background: $secondary_color;
		color: $white;
		margin-left: 1rem;
	}

	.step-info {
		padding: 0 10px;
		width: 100%;
		display: block;
		background: $white;
		height: $header-nav-inner-height;
		i {
			margin-left: 1ch;
		}
	}

	.step-title-poll {
		font-size: 0.85rem;
		color: $d-neutral;
		margin-bottom: 0rem;
		padding-top: 1rem;
		display: block;
	}

	h2 {
		margin-bottom: 0rem;
	}

	.step-counter-text {
		font-weight: 600;
		color: $d-blue-700;
	}

	.top {
		height: 2rem;
	}
	.cancel-button-reject {
		background: none;
		color: $primary_color;
		margin-right: -1rem;
		i {
			color: $primary_color;
			margin-left: 1ch;
		}
	}
	.cancel-button-confirm {
		color: $secondary_color;
		margin-right: 0;
	}
}

.lang-selector-icon {
	margin-top: 0.5rem;
	display: inline-block;
}

.stepper-app-logo {
	max-width: $main-column-width-inner;
	max-height: $main-column-width-inner;
	height: 3rem;
	width: 3rem;
	display: inline-block;
}
#display_cancel_popup_button {
	min-width: 7em; // to adapt other lang without making the nav move
}
