@import '../../../../../styles/variables';

.title {
	margin-top: 2em;
}
.mat-checkbox {
	img {
		margin-left: 1em;
	}
}
.button .fa {
	margin: 1em;
}
input,
textarea {
	margin-top: 0.5em;
	margin-bottom: 1.5em;
	width: 100%;
}
