<div class="selector language-selector-container">
	<button class="lang-button" (click)="nextLang()">
		{{ 'LANGUAGES.' + currentLang | translate }}
		<!--		<i class="fa fa-language lang-selector-icon clickable" ></i>-->
		<i class="fa fa-chevron-down"></i>
	</button>

	<div class="buttons has-addons">
		<label for="lang_selector" class="hidden">
			<button>
				{{ 'selector.lang' | translate }}
				<span class="lang-title-long is-hidden-mobile">
					{{ 'LANGUAGES.' + language | translate }}
				</span>
				<span class="lang-title-short is-visible-mobile">
					{{ 'LANGUAGES_SHORT.' + language | translate }}
				</span>
			</button>
		</label>
		<select class="is-hidden" id="lang_selector" (change)="setLang()" [(ngModel)]="currentLang">
			<option *ngFor="let language of availableLanguages" value="{{ language }}">
				<!--				{{ language }} - -->
				{{ 'LANGUAGES.' + language | translate }}
			</option>
		</select>
	</div>
</div>
