@import './../../../../../styles/variables';

#lang_selector {
	background: white;
	max-width: 15em;
	width: 15em !important;
}

.language-selector-container {
	cursor: pointer;
	color: $primary-color;
	&:hover {
		color: $secondary_color;
	}
	i {
		color: $primary-color;
	}
}
.lang-button {
	color: $secondary_color;
	border: none;
	padding: 0;
	display: block;
	line-height: $header-nav-height;
	height: $header-nav-height;
}
