// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;

$primary: $primary_color;
$link: $wisteria;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $black;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

.notification {
	margin: 1em 0;
}
.select {
	display: block !important;
	width: 80%;
}
