<button (click)="copy()" class="btn btn--primary btn--outline" id="copyLink">
	<i class="fa fa-copy" aria-hidden="true"></i>
	<span *ngIf="displayLabelButton">
		{{ 'admin.copy_link' | translate }}
	</span>
	<span *ngIf="displayContentToCopy"> " {{ textToCopy }}" </span>
</button>
