.outlined {
	&:focus,
	&:active {
		outline: black;
		outline-style: solid;
		outline-offset: 0.25rem;
	}
}
a {
	@extend .outlined;
}
button,
.btn {
	@extend .outlined;
	@extend .button;
}

.btn--full {
	@extend .is-block;
}

button {
	&.is-white {
		&:hover {
			background: $secondary_color;
			color: $white;
		}
	}
}

.btn-primary {
	@extend .is-primary;
	color: $white !important;
}

.is-warning {
	@extend .is-warning;
}

.btn--info {
	@extend .is-info;
}

.btn--danger {
	@extend .is-danger;
}
