app-header {
	background: $primary_color;
	color: $white;
}
.big-header {
	background: $secondary-color;
	color: $white;
	.container {
		background: $secondary-color;
		color: $white;
		box-shadow: none;
	}
}

// material override
.navbar {
	margin-bottom: 0;
	background: $secondary-color;
	color: $white;
}

nav {
	background: $primary-color;
	text-align: center;
	border-bottom: 2px solid $primary-color;

	a {
		&::before {
			display: inline-block;
			position: relative;
			width: auto;
			background: none;
		}

		&::after {
			display: none;
		}

		&.active,
		&.is-active {
			color: $white;
			background: $primary_color !important;
			&:hover {
				background: $dark !important;
			}
		}
	}
}
a {
	color: $primary_color;
	&,
	&:hover {
		text-decoration: none;
	}

	&::before,
	&::after {
		content: '';
	}

	&:hover {
		&.next::before,
		&.prev::after {
			background-color: rgba($primary_color, 0.7);
		}
	}

	span {
		padding-right: 1rem;
		padding-left: 1rem;
	}
}
a span.ui-steps-number {
	padding: 0;
}

.bottom-step-buttons {
	box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
	box-sizing: border-box;
	bottom: 0;
	z-index: 10;
	height: auto;
	background: $white;
	width: 100%;
	position: fixed;
	right: 0;
	padding: 1rem 0.5rem;

	.button {
		display: inline-block;
		padding: 10px 30px;
		height: auto;
	}
	.button {
		&.is-secondary {
			color: $secondary_color !important;
			border-color: $secondary_color !important;
		}
	}
}
