// small screens
@media (min-width: 380px) {
	.feedback-container {
		//position: fixed;
	}

	.p-datepicker {
		.p-datepicker-calendar {
			td {
				width: $cell-size-desktop;
			}
			td span,
			.p-ripple {
				width: $cell-size-desktop;
				height: $cell-size-desktop;
			}
		}
	}
}
// wide screen like desktop
@media (min-width: $widescreen) {
	.step {
		padding: 6rem 0;
	}
	.date-choice > input:first-of-type {
		width: 75%;
	}
	.date-choice .btn--primary,
	.several-times {
		margin-left: 1rem;
		display: inline-block;
	}
	.time-choice {
		padding: 1em;

		input {
			width: 80%;
		}
	}
}
