body {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $title_font;
		color: $primary_color;
	}

	h1 {
		font-family: $title_font;

		&::after {
			background-color: $primary_color;
			height: 2px;
		}
	}

	h2 {
		font-family: $title_font;
		font-size: 1.75rem;
		font-weight: 600;
		line-height: 2rem;
		margin-bottom: 2rem;
	}

	h3 {
		font-family: $title_font;
	}

	h4 {
		font-family: $title_font;
	}

	.p-dialog {
		font-family: $title_font !important;
		max-width: $widescreen-width-main-column;

		.p-dialog-header {
			color: $primary_color !important;
			.p-dialog-title {
				font-size: 2rem;
			}
		}
		.p-dialog-content {
			padding: 1rem 2rem;
			.title {
				color: $secondary_color !important;
			}
		}
		.p-dialog-footer {
			padding: 3rem 2.5rem;
		}
	}

	.nobold {
		font-weight: normal;
	}

	.text-right {
		text-align: right;
	}

	.text-center {
		text-align: center;
	}
}
