@charset "UTF-8";

html {
	font-size: 1rem; /* equals 16px */
	color: $font_color;
	height: 100%;

	* {
		box-sizing: border-box;
	}

	overflow-x: hidden;
}
body {
	height: 100%;
	overflow-x: hidden;
}

form {
	margin: 0 !important;
}

main {
	min-height: 90vh;
}

.min-height {
	margin-top: 1em;
	margin-bottom: 1em;
	min-height: 50vh;
}

.content {
	padding: 1em;
}

.main-footer {
	background: $primary-color;
	color: $white;

	.title {
		color: $white;
	}

	.content {
		ul {
			padding: 0;
			margin-left: 0;
		}
	}
}

.columns {
	&.half-columns {
		width: 100%;
		max-width: 100vw;
		margin: 0 auto;
		padding: 0;

		.column {
			padding: 0;
			width: 50% !important;
			float: left;

			&:nth-of-type(1) {
				padding-right: 1.5rem;

				.step-info & {
					padding: 0;
				}
			}

			&:nth-of-type(2) {
				padding-left: 1.5rem;
			}

			&.is-fullwidth {
				width: 100% !important;
				padding-right: 0 !important;

				.button:nth-of-type(1) {
					width: 50%;
					float: right;
				}
			}
		}

		.button {
			.is-half-offseted {
				float: right;
			}
		}
	}
}
.top-padding-nav {
	padding-top: $header-nav-height;
}
.contained-in-main-column {
	max-width: $main-column-width;
	margin: 0 auto;
	width: 100%;
	display: block;
	.bottom-step-buttons & {
		max-width: $main-column-width-inner;
		height: 1rem;
	}
}
.contained-desktop,
.stuff {
	display: block;
	width: 100%;
	max-width: $widescreen-width-main-column;
	margin: 0 auto;
}
