<app-stepper [step_current]="2" [step_max]="pollService.step_max"></app-stepper>
<div class="step step-container form-field poll-kind">
	<form action="#" [formGroup]="pollService.form">
		<div class="min-height">
			<app-errors-list [form]="pollService.form"></app-errors-list>
			<h2 class="title is-2">
				{{ 'creation.want' | translate }}
			</h2>
			<div class="container">
				<div class="kind-of-poll columns">
					<div class="column">
						<div
							class="button input-radio is-fullwidth"
							[ngClass]="{
								'is-selected': pollService.form.value.isAboutDate != false
							}"
							(click)="pollService.form.controls.isAboutDate.setValue(true)"
						>
							<i class="fa fa-calendar"></i>
							<label for="isAboutDate_true">
								{{ 'creation.kind.date' | translate }}
							</label>
							<input type="radio" formControlName="isAboutDate" [value]="true" id="isAboutDate_true" />
						</div>
					</div>
					<div class="column">
						<div
							class="button input-radio is-fullwidth"
							[ngClass]="{
								'is-selected': !pollService.form.controls.isAboutDate.value != false
							}"
							(click)="pollService.form.controls.isAboutDate.setValue(false)"
						>
							<i class="fa fa-list-ul"></i>
							<label for="isAboutDate_false">
								{{ 'creation.kind.classic' | translate }}
							</label>
							<input type="radio" formControlName="isAboutDate" [value]="false" id="isAboutDate_false" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<app-nav-steps
	[next_step_number]="pollService.step_current + 1"
	[previous_step_number]="pollService.step_current - 1"
></app-nav-steps>
