@import '../../../../../../styles/variables';

.kind-of-poll {
	margin-top: 5em;
	min-height: 30vh;
	.fa {
		margin-right: 1em;
	}
	.button {
		background: $d-grey;
		border: solid white 1px;
		transition: background-color ease 1.5s;
		color: $font-color;
		&.is-selected {
			background: $secondary_color;
			border: solid $primary-color 1px;
			color: $white;
			label {
				color: $white;
			}
			.fa {
				color: $white;
			}
		}
		&:hover {
			background: $secondary_color;
			border: solid $primary-color 1px;
			color: $white;
			transition: background-color ease 0.25s;
		}
	}
}
