<div class="comments padded" id="comments">
	<div class="message-body" *ngIf="poll.is_archived">
		⚰️ Ce sondage a expiré, il n'est plus possible d'y ajouter de votes ou de commentaires
	</div>
	<section class="comments-part" *ngIf="!poll.is_archived && poll.comments">
		<h2 class="title is-2">
			<i class="fa fa-comment"></i>
			{{ poll.comments.length }} Commentaires
		</h2>

		<article class="message" *ngFor="let comment of poll.comments">
			<div class="message-header">
				<p>
					<em class="cname"> {{ comment.pseudo }} </em>,

					<span class="date date-days-ago">
						il y a
						{{ calculateDaysAgoOfComment(comment.created_at) }} jours, le </span
					><span class="date is-small">
						{{ comment.created_at | date: 'short':'Europe/Paris':'fr_FR' }}
					</span>
				</p>
			</div>
			<div class="message-body">
				<p class="text">
					{{ comment.text }}
				</p>
			</div>
		</article>
	</section>
	<section class="add-comment" *ngIf="!poll.is_archived && vote_stack.owner">
		<h2 class="margin-top-x7">Laisser un commentaire</h2>
		<article class="message">
			<div class="message-header">
				<div class="field">
					<span class="control has-icons-left has-icons-right">
						<input
							type="email"
							name="cremail"
							id="email_comment"
							[(ngModel)]="vote_stack.owner.email"
							required="required"
						/>
						<span class="icon is-small is-left">
							<i class="fa fa-envelope"></i>
						</span>
					</span>
					<span class="control has-icons-left">
						<input
							type="text"
							class="margin-btm-x3"
							name="crname"
							[(ngModel)]="vote_stack.pseudo"
							id="crname"
							required="required"
						/>
						<span class="icon is-small is-left">
							<i class="fa fa-user"></i>
						</span>
					</span>
				</div>

				<!--			<label for="crname"><i class="fa fa-user" aria-hidden="true"></i> Votre nom / pseudo :</label>-->

				<!--			<label for="cremail"><i class="fa fa-envelope" aria-hidden="true"></i> Votre email :</label>-->
			</div>
			<div class="message-body">
				<label for="comment">Votre commentaire :</label>
				<br />
				<textarea name="comment" id="comment" [(ngModel)]="vote_stack.comment"> </textarea>

				<input
					type="submit"
					name="add-comment"
					class="btn btn--primary btn--outline"
					value="Ajouter mon commentaire ✉️"
					(click)="addComment()"
				/>
			</div>
		</article>
	</section>
</div>
