@import '../../../../styles/variables';

.app-title {
	color: $white !important;
	line-height: 4rem;
	display: inline-block;
}
.navbar-item {
	color: $white;

	a {
		color: $white;
		&:hover {
			background: $primary_color;
			color: $white;
		}
	}
	img {
		max-height: $header-nav-height;
	}

	.fa {
		margin: 0 1ch;
	}
}

.give-to-project {
	.button {
		background: transparent;
	}
}

app-language-selector {
	.fa {
		color: $white;
	}
}
