<app-stepper [step_current]="5" [step_max]="pollService.step_max"></app-stepper>
<div class="step">
	<div class="min-height">
		<section class="supplement">
			<app-errors-list [form]="pollService.form"></app-errors-list>
			<div class="advanced-config">
				<h2 class="title is-2">
					Paramétrez le sondage
				</h2>
				<div class="complete" *ngIf="environment.advanced_options_display">
					<app-advanced-config [form]="pollService.form"></app-advanced-config>
				</div>
			</div>
		</section>
	</div>
</div>
<app-nav-steps
	[next_step_number]="pollService.step_current + 1"
	[previous_step_number]="pollService.step_current - 1"
></app-nav-steps>
