<app-stepper [step_current]="6" [step_max]="pollService.step_max"></app-stepper>
<div class="step min-height">
	<div class="min-height">
		<form action="#" [formGroup]="pollService.form">
			<h2>
				Dites à vos participants qui vous êtes !
			</h2>
			<label for="name">
				Votre nom (obligatoire)
			</label>
			<input class="input" type="text" id="name" formControlName="creatorPseudo" />
			<label for="email">
				Votre adresse e-mail
				<span class="required-label" *ngIf="environment.creation_email_is_required">
					(obligatoire)
				</span>
			</label>
			<p>
				Votre adresse ne sera pas partagée avec les participants du sondage. Elle nous sert uniquement à vous
				informer des mises à jour et vous prévenir dès qu'un nouveau vote à eu lieu
			</p>
			<input class="input" type="text" id="email" formControlName="creatorEmail" />
		</form>
	</div>
</div>
<app-nav-steps
	[next_step_number]="pollService.step_current + 1"
	[previous_step_number]="pollService.step_current - 1"
></app-nav-steps>
