#big_container {
	background: $white;
	main {
		margin-bottom: 2em;
		padding-bottom: 5em;
		background: $white;
	}
	.big-header {
		.container {
			padding-bottom: 5em;
			.column:last-of-type {
				text-align: right;
			}
		}

		main {
			@extend .boxed-shadow;
		}
	}

	.bar-votestack {
		background: $white;
		border-top: 2px solid $primary_color;
		z-index: 2;
		position: fixed;
		bottom: 0;
		right: 0;
		width: 100%;
		text-align: right;
		padding: 0.5rem;
	}

	.ui-toast-message-content {
		background: $white;
	}
}
