@import '../../../../styles/variables';

:host {
	.landing-box {
		background: $secondary_color;
		padding: 70px 1em 6em;
	}
	.title {
		color: $white;
		margin-bottom: 1rem;
		text-align: left;
	}

	.button {
		color: $secondary_color !important;
		background: $secondary_color;
		text-align: center;

		&.is-white {
			background: $white;
		}
		&.is-secondary {
			color: $white !important;
			background: $secondary_color !important;
		}
	}

	.subtitle {
		text-align: left;
		margin-top: 1rem;
		min-height: 4em;
		color: $white;
	}
	.poll-list {
		margin: 2em 0;
	}

	a .fa {
		margin-right: 1ch;
	}

	.home-content {
		.title,
		.subtitle {
			color: $secondary_color;
		}
	}
}

.search {
	margin-top: 2em;
	.title {
		font-size: 1.5rem;
	}
	.search-others {
		padding: 2rem;
		background: $d-grey;
		border-radius: 0.5rem;
	}
	#search_email {
		background: $white !important;
		margin-bottom: 0;
	}
	.button-submit {
		margin-top: 1rem !important;
		background: $d-grey;
		color: $secondary_color;
		border-color: $secondary_color;
	}
	.search-description {
		margin: 2rem 0;
	}
}
