<section>
	<div class="landing-box">
		<div class="landing contained-desktop content">
			<div class="columns presentation">
				<div class="column">
					<h2 class="title is-2">
						{{ 'config.landing_title' | translate }}
					</h2>
					<p class="subtitle">
						{{ 'config.landing_subtitle' | translate }}
					</p>
					<div class="columns">
						<div class="column">
							<a role="button" class="button is-fullwidth is-white" routerLink="administration">
								{{ 'config.letsgo' | translate }}
							</a>
						</div>
						<div class="column">
							<a role="button" class="button is-fullwidth is-secondary is-outlined" routerLink="about">
								{{ 'config.discover' | translate }}
							</a>
						</div>
					</div>
				</div>
				<div class="column">
					<img
						class="app-logo logo"
						*ngIf="environment.appLogo"
						src="{{ environment.appLogo }}"
						alt="{{ environment.appTitle }}"
					/>
					<!--					<img src="assets/img/icone_home.png" alt="calendrier icone framadate" />-->
				</div>
			</div>
		</div>
	</div>

	<div class="container home-content">
		<div class="column">
			<section class="search">
				<!--				<img src="assets/img/where-is-it.jpg" alt="batman veut savoir où sont ses sondages"/>-->

				<form (ngSubmit)="searchMyPolls()">
					<div class="search-others-box">
						<div class="columns">
							<div class="search-others column contained-in-main-column">
								<h2 class="title is-2">
									{{ 'home.search_title' | translate }}
								</h2>
								<div class="search-description">
									{{ 'home.search_subtitle' | translate }}
								</div>
								<label for="search_email">
									{{ 'home.search_label' | translate }}
								</label>
								<input
									type="email"
									class="is-full input"
									name="search_email"
									id="search_email"
									[ngClass]="{
										'has-background-success': email_sent,
										'ng-invalid has-background-warning':
											nonexistent_email === storageService.vote_stack.owner.email
									}"
									[(ngModel)]="storageService.vote_stack.owner.email"
								/>
								<div class="email_sent has-background-success padded" *ngIf="email_sent">
									<i class="fa fa-envelope"></i> C'est envoyé! Vérifiez votre boite email, ainsi que
									votre dossier de spam.
								</div>
								<!--								<div-->
								<!--									class="email_error has-background-warning padded"-->
								<!--									*ngIf="nonexistent_email === storageService.vote_stack.owner.email"-->
								<!--								>-->
								<!--									<i class="fa fa-warning"></i> Aucun sondage enregistré pour cet email.-->
								<!--								</div>-->
								<button
									type="submit"
									role="button"
									class="button is-outlined is-fullwidth is-info button-submit"
									[disabled]="
										!storageService.vote_stack.owner.email.length ||
										nonexistent_email === storageService.vote_stack.owner.email
									"
									routerLink="user/polls"
								>
									<i class="fa fa-search"></i>
									{{ 'home.search_button' | translate }}
								</button>
							</div>
						</div>
					</div>
				</form>

				<div class="poll-list">
					<ul>
						<li *ngFor="let p of storageService.userPolls">
							<a
								class="button is-fullwidth padded"
								[routerLink]="'poll/' + p.custom_url + '/consultation'"
							>
								{{ p.title }}
								<i class="fa fa-arrow-right pull-right"></i>
							</a>
						</li>
					</ul>
				</div>
			</section>

			<section class="demo-capabilities">
				<div
					*ngIf="environment.showDemoWarning"
					class="demo demo-warning well has-background-warning-light padded marged"
				>
					<h3 class="title is-3">
						Ce que l'on peut faire sur cette démo:
					</h3>
					<ul>
						<li>
							☑️ Créer un nouveau sondage
						</li>
						<li>
							☑️ accéder à un sondage existant en tant que visiteur, ajouter une réponse (StackOfVote) et
							un commentaire.
						</li>
						<li>
							☑️
							<a href="https://framagit.org/framasoft/framadate/funky-framadate-front/-/tree/master/docs"
								>lire la documentation</a
							>
						</li>
					</ul>
					<h3 class="title is-3">
						Ce qu'on ne peut pas encore faire:
					</h3>
					<ul>
						<li>
							🚴‍️ mettre à jour son vote à un sondage
						</li>
						<li>
							🚴‍ modifier un de ses sondages existants par un lien d'administration
						</li>
						<li>
							🚴‍ recevoir immédiatement les emails. Ceux ci nécessitent un vidage du spool d'emails du
							backend sur demande (mesure anti spam).
						</li>
					</ul>
				</div>
			</section>
		</div>

		<div class="box contained-in-main-column">
			<h2 class="title">Nos Mentions légales</h2>
			<ul>
				<li>
					<a routerLink="/legal">
						mentions légales,
					</a>
				</li>
				<li>
					<a routerLink="/cgu">
						CGU, CPU,
					</a>
				</li>
				<li>
					<a routerLink="/privacy">
						politique de confidentialité.
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>
