<app-stepper [step_current]="7" [step_max]="pollService.step_max"></app-stepper>
<div class="step min-height step-resume">
	<div class="columns content">
		<div class="column">
			<h2 class="title is-2">
				Voici le résumé de votre sondage
			</h2>
			<p class="helper">
				En cliquant sur le bouton « Modifier » d’une section vous serez renvoyé à l’étape correspondante de la
				création du sondage. Vous devrez repasser par toutes les étapes suivantes.
				<br />
				Mais rassurez-vous, vous n’aurez pas à tout remplir à nouveau.
			</p>
			<div class="resume">
				<h3 class="title is-3">Mes informations générales</h3>
				<div class="block-resume">
					<h3 class="title is-4">
						{{ pollService.form.value.title }}
					</h3>
					<p class="description">
						{{ pollService.form.value.description }}
					</p>
					<hr />
					<div class="go-to-step" [routerLink]="['/administration/step/1']">
						<img class="icon" src="assets/icons/edit.svg" alt="icone crayon" /> Modifier
					</div>
				</div>
				<h3 class="title is-3">Type de sondage</h3>
				<div class="block-resume">
					{{ pollService.form.value.isAboutDate ? 'Date' : 'Propositions' }}
					<hr />
					<div class="go-to-step" [routerLink]="['/administration/step/2']">
						<i class="fa fa-pencil"></i> Modifier
					</div>
				</div>
				<h3 class="title is-3">Mes dates et horaires</h3>
				<div class="block-resume">
					<div class="list-datechoices" *ngIf="pollService.form.value.isAboutDate">
						<ul *ngFor="let choice of pollService.dateChoiceList">
							<li>
								<span class="date">
									{{ choice.date_object | date: 'E d/M/yyy':'Europe/Paris':'fr_FR' }}
								</span>
							</li>
						</ul>
					</div>
					<div class="list-texts" *ngIf="!pollService.form.value.isAboutDate">
						<!--						<ul *ngFor="let choice of pollService.choices">-->
						<!--							<li>-->
						<!--								{{ choice }}-->
						<!--							</li>-->
						<!--						</ul>-->
					</div>
					<hr />
					<div class="go-to-step" [routerLink]="['/administration/step/3']">
						<i class="fa fa-pencil"></i> Modifier
					</div>
				</div>
				<h3 class="title is-3">Mes paramètres et options de notifications</h3>
				<div class="block-resume">
					<div class="password">
						Protégé par mot de passe: {{ pollService.form.value.isProtectedByPassword ? 'oui' : 'non' }}
					</div>
					<hr />
					<div class="go-to-step clickable" [routerLink]="['/administration/step/4']">
						<i class="fa fa-pencil"></i> Modifier
					</div>
				</div>
				<h3 class="title is-3">Mon nom et mon adresse e-mail</h3>
				<div class="block-resume">
					<div class="name">
						{{ pollService.form.value.creatorPseudo }}
					</div>
					<div class="email">
						{{ pollService.form.value.creatorEmail }}
					</div>
					<hr />
					<div class="go-to-step" [routerLink]="['/administration/step/6']">
						<i class="fa fa-pencil"></i> Modifier
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-nav-steps
	[next_step_number]="pollService.step_current + 1"
	[previous_step_number]="pollService.step_current - 1"
	[is_finish_step]="true"
></app-nav-steps>
