<section
	class="hero is-medium"
	[ngClass]="{ 'has-background-success': pollService.admin_key, 'has-background-danger': pollService.admin_key }"
>
	<div class="hero-body">
		<div class="container has-text-centered">
			<div class="main-block">
				<h1 class="title is-1">
					<img class="icon" src="assets/icons/book-open.svg" alt="icone ok" />

					Votre sondage
					<br />
					«
					<strong class="poll-title">
						{{ pollService.form.value.title }}
					</strong>
					»
					<span *ngIf="!pollService.admin_key">
						n'a pas été créé :(

						<br />
						<button class="button is-primary" [routerLink]="['/administration/step/7']">
							Revenir en arrière
						</button>
					</span>
					<span *ngIf="pollService.admin_key">
						est prêt !
					</span>
				</h1>
				<p>
					L'événement "<strong class="poll-title"> {{ pollService.form.value.title }} </strong>" est créé.
					Vous pouvez inviter vos contacts à y participer en partageant le lien ci-dessous.
				</p>
				<div class="columns">
					<div class="column">
						<label for="public_share_link">
							Lien de partage public
						</label>
						<input type="text" [value]="pollService.getParticipationUrl()" id="public_share_link" />
					</div>
					<div class="column">
						<button class="is-parimary button">
							Copier
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="box-well">
	<h3 class="title is-3">Consultez dès maintenant votre sondage</h3>
	<button class="button is-primary" routerLink="{{ pollService.getAdministrationUrlFromForm() }}">
		Voir mon sondage
	</button>
</div>
<hr />
<div *ngIf="pollService.admin_key">🎉</div>
<div class="container padded">
	<div class=" ">
		<div class="main-block">
			<div class="hopla">
				<div class="column">
					<div class="admin">
						<div class="no-admin-key padded has-background-danger" *ngIf="!pollService.admin_key">
							Pas de clé d'administration, l'enregistrement du sondage a échoué. vérifiez vos paramètres
							réseau.
						</div>
						<div class="admin-ok" *ngIf="pollService.admin_key">
							<h2 class="title is-2">
								<i class="fa fa-gears"></i>
								{{ 'resume.admins' | translate }}
							</h2>

							<p>
								Voici les liens d’accès au sondage, conservez-les soigneusement ! (Si vous les perdez
								vous pourrez toujours les recevoir par email)
							</p>
							<div>
								Pour accéder au sondage et à tous ses paramètres :
								<br />
								<pre class="is-default" routerLink="{{ pollService.getAdministrationUrlFromForm() }}">
									{{ pollService.getAdministrationUrlFromForm() }}
								</pre
								>
								<app-copy-text
									[textToCopy]="pollService.getAdministrationUrlFromForm()"
								></app-copy-text>
							</div>
							<br />
							<a class="button is-info" [href]="pollService.getAdministrationUrlFromForm()">
								Voir le sondage coté administrateur·ice
							</a>

							<br />
							<p class="note has-background-info padded">
								<i class="fa fa-info-circle"></i> Note : Le sondage sera supprimé
								<strong> {{ pollService.form.value.expiresDaysDelay }} </strong> jours après la date de
								sa dernière modification.
								<span class="expiracy-detail" *ngIf="pollService.form.value.expiresDaysDelay">
									Le
									{{
										pollService.DateUtilitiesService.addDaysToDate(
											pollService.form.value.expiresDaysDelay,
											today
										) | date: 'short'
									}}
								</span>
							</p>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="public" *ngIf="pollService.admin_key">
						<h2 class="title is-2">
							<i class="fa fa-ellipsis-v"></i>
							{{ 'resume.users' | translate }}
						</h2>
						<p>
							Pour voir le sondage :
							<br />
							<a class="button is-info" [href]="pollService.getParticipationUrlFromForm()"
								>{{ pollService.getParticipationUrlFromForm() }}
							</a>
						</p>
						<br />
						<app-copy-text [textToCopy]="pollService.getParticipationUrlFromForm()"></app-copy-text>
						<br />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
