@import './src/styles/variables';

.button,
a,
button {
	margin-bottom: 1ch;
	margin-right: 1ch;
}
a {
	padding: 1em;
	max-width: 20em;
	@extend .truncate;
}
.admin-ok pre,
.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
:host {
	padding: 2em;
}
.has-background-success {
	background: $logo_color_2 !important;
}
