.text-ellipsis {
	text-overflow: ellipsis;
	max-width: 100%;
	word-break: break-all;
	overflow: hidden;
	display: inline-block;
}

.clickable {
	cursor: pointer;
}

.boxed-shadow {
	background: $white;
	box-shadow: $dark-lavender 0 0 10px;
}

.is-boxed {
	border: 1px solid #ddd;
	padding: 1em;
	margin: 1em 0;
}

.nobold {
	font-weight: normal;
}

.hidden {
	display: none;
}

.padded {
	padding: 1em;
}

.marged {
	margin: 1em;
}
.marged-v {
	margin-top: 1em;
	margin-bottom: 1em;
}
.marged-auto {
	margin: 0 auto;
}

.fixed-box {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

.rounded-block {
	border-radius: 0.25em;
	background: $bg-grey;
	padding: 1em;
	margin-bottom: 0.5em;

	hr {
		margin: 0.5em -1em;
		background: $rules;
	}

	.go-to-step,
	.custom-action {
		@extend .clickable;
		color: $secondary_color;
		padding: 1.5em;
		border-radius: 0.25em;

		&:hover {
			background: $secondary_color;
			color: $white;
		}
	}
}

.has-no-border {
	border: none;
}
.has-no-padding {
	padding: 0;
}
