<app-stepper [step_current]="3" [step_max]="pollService.step_max"></app-stepper>
<div class="step min-height">
	<h2 class="title is-2">Choisissez les dates</h2>
	<!--	<h2 class="title is-2">choisissez les propositions</h2>-->

	<app-errors-list [form]="pollService.form"></app-errors-list>
	<!--	sélecteur d'interface-->
	<button class="button is-fullwidth date-input-selector is-secondary" (click)="changeDateInputMode()">
		<span *ngIf="pollService.mode_calendar"> <i class="fa fa-pencil"></i> Saisir les dates manuellement </span>
		<span *ngIf="!pollService.mode_calendar">
			<i class="fa fa-calendar-o"></i> Saisir les dates dans le calendrier
		</span>
	</button>

	<!--			choix spécialement pour les dates-->
	<div class="calendar" *ngIf="pollService.mode_calendar">
		<p-calendar
			[(ngModel)]="pollService.calendar"
			firstDayOfWeek="1"
			selectionMode="multiple"
			inputId="multiple"
			showButtonBar="true"
			[locale]="'calendar_widget' | translate"
			[disabledDates]="pollService.disabled_dates"
			[inline]="true"
			[showWeek]="false"
		></p-calendar>
	</div>

	<div class="text-date-list" *ngIf="!pollService.mode_calendar">
		<app-day-list
			[form]="pollService.form"
			[hasSeveralHours]="environment.creation_display_hour_per_day && pollService.form.value.hasSeveralHours"
		></app-day-list>
	</div>
</div>
<app-nav-steps
	[actionBeforeNextStep]="convertDateInputs"
	[next_step_number]="pollService.step_current + 1"
	[previous_step_number]="pollService.step_current - 1"
></app-nav-steps>
