.background-yes {
	background: #c1ffc0;
}

.background-maybe {
	background: #ffe4ca;
}

.background-no {
	background: #ffd7d7;
}

table {
	overflow: scroll;
	max-width: 90vw !important;
	display: block;
}
table {
	th,
	th * {
		background: #222;
		color: white;
	}
	tr td:not(:first-of-type) {
		text-align: center;
	}
}
