<mat-sidenav-container (backdropClick)="sidenav.toggle()">
	<mat-sidenav #sidenav mode="side">
		<app-navigation [appTitle]="appTitle" [appLogo]="appLogo"></app-navigation>
	</mat-sidenav>

	<mat-sidenav-content>
		<div class="sidenav-content">
			<!--			le contenu de side nav-->
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
<div id="big_container" [class]="themeClass">
	<app-header
		*ngIf="onHomePage || environment.display_menu_creation"
		[appTitle]="appTitle"
		[appLogo]="appLogo"
	></app-header>
	<main [@routeAnimations]="prepareRoute(outlet)">
		<router-outlet #outlet></router-outlet>
	</main>
</div>
<app-footer *ngIf="onHomePage || environment.display_menu_creation"></app-footer>
