<app-stepper [step_current]="4" [step_max]="pollService.step_max"></app-stepper>
<div class="step">
	<div class="min-height">
		<app-errors-list [form]="pollService.form"></app-errors-list>

		<div class="custom-day-time-slices" *ngIf="environment.creation_display_hour_per_day">
			<h2 class="title is-2">
				Choisissez les horaires
			</h2>
			<div
				class="days-list-having-separated-time-slices rounded-block"
				*ngFor="let dayChoice of pollService.dateChoiceList; index as day_id"
			>
				<div class="heading day-choice">
					{{ dayChoice.date_object | date }}
				</div>

				<section class="time-slice-list-of-a-day">
					<div *ngFor="let timeSlice of dayChoice.timeSlices; index as id" class="time-choice padded">
						<label for="dateChoices_{{ id }}"> Horaire / option {{ id + 1 }} </label>
						<input
							class="input is-fullwidth"
							type="text"
							id="dateChoices_{{ id }}"
							[(ngModel)]="timeSlice.literal"
						/>
						<button class="button input is-full" (click)="pollService.timeList.splice(id, 1)">
							<i class="fa fa-trash"></i> supprimer
						</button>
					</div>
					<div class="add-time-choice">
						<button (click)="addChoiceForDay(dayChoice)">
							<i class="fa fa-plus"></i>
							Ajouter horaire / option
						</button>
					</div>
				</section>
			</div>
		</div>
		<section class="same-time-slices">
			<section class="same-time-slices" *ngIf="pollService.form.value.hasSeveralHours">
				<h2 class="title is-2">
					Choisissez les horaires
				</h2>

				<section class="proposals" *ngIf="environment.creation_display_proposals_time_slices">
					<div class="time-slices-proposals rounded-block">
						<div
							class="button is-rounded"
							*ngFor="let text of timeSlicesProposals"
							(click)="addPreselect(text.literal)"
						>
							{{ text.literal }}
						</div>
					</div>
				</section>
				<div *ngFor="let timeSlice of pollService.timeList; index as id" class="time-choice">
					<label for="timeList_{{ id }}"> Horaire / option {{ id + 1 }} </label>
					<input
						class="input is-fullwidth"
						type="text"
						id="timeList_{{ id }}"
						(change)="applyTimeSlicesToDateChoices()"
						[(ngModel)]="timeSlice.literal"
					/>
					<button class="button is-block" (click)="pollService.timeList.splice(id, 1)">
						<i class="fa fa-trash"></i> supprimer
					</button>
				</div>
				<div class="title" *ngIf="pollService.timeList.length">
					<span class="count-dates">
						{{ pollService.timeList.length }}
					</span>
					<span class="count-dates-txt">
						{{ 'dates.count_time' | translate }}
						(pour chaque jour)
					</span>
				</div>
				<button
					(click)="pollService.addTime()"
					*ngIf="false == pollService.allowSeveralHours"
					class="button is-primary is-block is-fullwidth"
					id="add_time_button"
				>
					<i class="fa fa-plus" aria-hidden="true"></i>
					{{ 'dates.add_time' | translate }}
				</button>
			</section>
		</section>

		<div class="section copy-paste">
			<div class="actions">
				<button
					(click)="pollService.removeAllTimes()"
					*ngIf="pollService.timeList.length && false == pollService.allowSeveralHours"
					class="btn is-warning marged"
					id="remove_time_button"
				>
					<i class="fa fa-trash" aria-hidden="true"></i>
					Aucune plage horaire
				</button>
				<button
					(click)="pollService.resetTimes()"
					*ngIf="pollService.timeList.length && false == pollService.allowSeveralHours"
					class="btn is-warning marged"
					id="reset_time_button"
				>
					<i class="fa fa-refresh" aria-hidden="true"></i>
					réinitialiser
				</button>
			</div>
		</div>
	</div>
	<p>
		Appliquer le même horaire / option à toutes les dates
	</p>
</div>

<app-nav-steps
	[next_step_number]="pollService.step_current + 1"
	[previous_step_number]="pollService.step_current - 1"
></app-nav-steps>
