<div class="admin-consultation min-height padded">
	<h2 class="title is-2">Consulter le sondage</h2>
	<button class="btn is-primary" [routerLink]="'/administration'">
		<i class="fa fa-pencil"></i>
		modifier
	</button>
	<div>
		<h2>{{ form.value.title }}</h2>

		<div *ngIf="poll">
			<h2>{{ poll.title }}</h2>

			Créé le {{ poll.created_at | date }} par {{ poll.owner.pseudo }}, {{ poll.owner.email }}
		</div>
	</div>
</div>
