<div class="user-infos">
	<h2 class="title is-2">
		Dites à l’organisateur et aux autres participants qui vous êtes !
	</h2>
	<label for="name">
		Votre nom (obligatoire)
	</label>
	<input class="input" type="text" id="name" />
	<label for="email">
		Votre adresse e-mail (obligatoire)
	</label>
	<input class="input" type="text" id="email" />

	<div class="columns">
		<div class="column">
			<button class="button is-default" [routerLink]="['']">
				Précédent
			</button>
		</div>
		<div class="column">
			<button class="button is-success" [routerLink]="['']">
				Je participe
			</button>
		</div>
	</div>
</div>
