<app-language-selector></app-language-selector>
<app-theme-selector></app-theme-selector>

<div class="columns">
	<div class="column">
		<p>Pseudo, nom ou prénom :</p>
	</div>
	<div class="column">
		<input class="input" type="text" [(ngModel)]="user.pseudo" (keydown.enter)="saveChanges()" autofocus required />
	</div>
</div>
<div class="columns">
	<div class="column">
		<p>Email :</p>
	</div>
	<div class="column">
		<input class="input" type="text" [(ngModel)]="user.email" (keydown.enter)="saveChanges()" required />
	</div>
</div>

<br />

<div class="columns">
	<button class="column button" (click)="saveChanges()">Enregistrer</button>
</div>
