<footer class="footer main-footer">
	<div class="content container">
		<p>
			<img class="app-logo logo" *ngIf="env.appLogo" src="{{ env.appLogo }}" alt="{{ env.appTitle }}" />

			{{ env.appTitle }} - {{ env.appVersion }} - libérez vos sondages. <i class="fa fa-copyleft"></i> Logiciel
			libre sous licence AGPL v3.
			<app-theme-selector></app-theme-selector>

			<a href="https://framagit.org/framasoft/framadate/funky-framadate-front/-/tree/master">
				<i class="fa fa-gitlab"></i> Sources</a
			>
			|
			<a href="https://framagit.org/framasoft/framadate/funky-framadate-front/-/tree/master/docs">
				<i class="fa fa-book"></i>
				🚴 Documentation
			</a>
			|
			<a href="https://framateam.org/ux-framatrucs/channels/framadate">
				<i class="fa fa-comment"></i>
				canal de discussion Framateam
			</a>
			|
			<a href="https://riot.im/app/#/room/#framadate:matrix.org">
				<i class="fa fa-matrix-org"></i>
				canal Matrix
			</a>
		</p>
		<div>
			<div class="columns">
				<div class="column">
					<h3 class="title is-3">Framasoft</h3>
					<ul>
						<li>L’association,</li>
						<li>Notre charte,</li>
						<li>Contacter Framasoft,</li>
						<li>Statistiques,</li>
						<li>État des services</li>
					</ul>
				</div>
				<div class="column">
					<h3 class="title is-3">Communauté</h3>
					<ul>
						<li>Framacolibri,</li>
						<li>Participer,</li>
						<li>Bénévolat valorisé,</li>
						<li>Partenaires,</li>
						<li>Charte de modération</li>
					</ul>
				</div>
				<div class="column">
					<h3 class="title is-3">Framadate</h3>
					<ul>
						<li>Entraide,</li>
						<li>Guides et astuces,</li>
						<li>Mentions légales,</li>
						<li>CGU,</li>
						<li>Crédits</li>
					</ul>
				</div>
				<div class="column">
					<form action="#">
						<h3 class="title is-3">
							<label for="subscribe_newsletter">
								<i class="fa fa-enveloppe"></i>
								Inscrivez-vous à la newsletter
							</label>
						</h3>
						<input type="text" class="input" id="subscribe_newsletter" />
						<button class="button is-outlined is-primary" (click)="subscribeToNewsletter()">
							S'inscrire
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</footer>
