<div class="notification is-info is-light">
	<div class="columns">
		<div class="column is-narrow">
			<i class="fa fa-info-circle fa-2x"></i>
		</div>
		<div class="column">
			Cette fonctionnalité est <strong>en cours de développement</strong>, vous pouvez contribuer à son
			amélioration avec le bouton de feedback.
		</div>
	</div>
</div>
