<div class="bottom-step-buttons">
	<div class="contained-in-main-column">
		<button
			*ngIf="display_previous_button"
			class="button-previous is-secondary pull-left"
			[routerLink]="['/administration/step/' + previous_step_number]"
		>
			{{ 'nav.previous' | translate }}
		</button>

		<button
			*ngIf="display_next_button"
			class="button-next pull-right"
			[ngClass]="{ 'is-finish': is_finish_step, 'is-primary': !is_finish_step }"
			[routerLink]="['/administration/step/' + next_step_number]"
			(click)="runNextAction()"
		>
			<b *ngIf="!is_finish_step">
				{{ 'nav.next' | translate }}
			</b>
			<b *ngIf="is_finish_step">
				{{ 'nav.save' | translate }}
			</b>
		</button>
	</div>
</div>
